<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>45</integer>
	<key>LibraryBuildTag</key>
	<string>78DC2B12-5643-453B-B228-61221B311D33</string>
	<key>LibrarySchemaVersion</key>
	<integer>2622</integer>
</dict>
</plist>
